@-moz-document domain("discord.com") {
    /* ==UserStyle==
    @name         Bottom Bar
    @description  A nice, simple looking, bottom bar.
    @author       LuckFire#400
    @namespace    https://github.com/Discord-Theme-Addons/bottom-bar
    @version      1.5.0
    ==/UserStyle== */

    @import url('https://discord-theme-addons.github.io/bottom-bar/src/support/compiled.css');

    :root {
        --bar-height: 80px;
        --bar-bottom-position: 13px;
        --bar-background-primary: var(--background-tertiary);
    }
}
