#app-mount .guilds-1SWlCJ {
    padding-bottom: var(--bar-height);
}
#app-mount .guilds-1SWlCJ::before {
    content: "";
    position: absolute;
    top: var(--bar-height);
    bottom: 0;
    width: 100%;
    background-color: var(--bar-background-primary);
}
#app-mount .container-3baos1 {
    position: absolute;
    bottom: var(--bar-bottom-position);
    max-width: 223px;
    background-color: transparent;
}
#app-mount #status-picker {
    margin-bottom: calc(var(--bar-bottom-position) + 4px);
}
#app-mount .sidebar-2K8pFh {
    height: calc(100% - var(--bar-height));
}
#app-mount .content-yTz4x3::after {
    content: "";
    position: absolute;
    top: calc(100% - var(--bar-height));
    bottom: 0;
    width: 100%;
    background-color: var(--bar-background-primary);
}
#app-mount .form-2fGMdU {
    z-index: 100;
    padding-top: calc(var(--bar-bottom-position) + 5px);
    border-radius: 5px 5px 0 0;
    background-color: var(--bar-background-primary);
    border-top: none;
    margin: 0;
    margin-top: -3px;
    padding-right: 15px;
    padding-left: 15px;
}
#app-mount .form-2fGMdU .channelTextArea-rNsIhG {
    margin-top: 0;
    margin-bottom: 24px;
}
#app-mount .form-2fGMdU::before {
    display: none;
}
#app-mount .form-2fGMdU .channelTextArea-2VhZ6z {
    margin-bottom: calc(var(--bar-bottom-position) + 5px);
}
#app-mount .form-2fGMdU .base-gE7OpD {
    bottom: -2px;
}
#app-mount .container-2wlB3z {
    height: calc(100% - var(--bar-height));
}
#app-mount .searchResultsWrap-3-pOjs {
    margin-bottom: var(--bar-height);
}
#app-mount .pageWrapper-1PgVDX,
#app-mount .container-1D34oG,
#app-mount .container-3Mxszk,
#app-mount .applicationStore-1pNvnv {
    padding-bottom: var(--bar-height);
}
#app-mount .pageWrapper-1PgVDX::before,
#app-mount .container-1D34oG::before,
#app-mount .container-3Mxszk::before,
#app-mount .applicationStore-1pNvnv::before {
    content: "";
    position: absolute;
    top: calc(100% - var(--bar-height));
    bottom: 0;
    width: 100%;
    background-color: var(--bar-background-primary);
}
#app-mount .autocomplete-1vrmpx {
    bottom: 166%;
}
#app-mount .positionLayer-1KzSAt.layer-v9HyYc {
    bottom: calc(var(--bar-height) + 8px) !important;
}
#app-mount .wrapper-39oAo3 {
    margin-bottom: 16px;
}
#app-mount .unreadMentionsIndicatorBottom-2mDYbI {
    bottom: var(--bar-height);
}