#app-mount .guilds-2JjMmN {
    padding-bottom: var(--bar-height);
}
#app-mount .guilds-2JjMmN::before {
    content: "";
    position: absolute;
    top: var(--bar-height);
    bottom: 0;
    width: 100%;
    background-color: var(--bar-background-primary);
}
#app-mount .container-YkUktl {
    position: absolute;
    bottom: var(--bar-bottom-position);
    max-width: 223px;
    background-color: transparent;
}
#app-mount #status-picker {
    margin-bottom: calc(var(--bar-bottom-position) + 4px);
}
#app-mount .sidebar-1tnWFu {
    height: calc(100% - var(--bar-height));
}
#app-mount .content-1jQy2l::after {
    content: "";
    position: absolute;
    top: calc(100% - var(--bar-height));
    bottom: 0;
    width: 100%;
    background-color: var(--bar-background-primary);
}
#app-mount .form-3gdLxP {
    z-index: 100;
    padding-top: calc(var(--bar-bottom-position) + 5px);
    border-radius: 5px 5px 0 0;
    background-color: var(--bar-background-primary);
    border-top: none;
    margin: 0;
    margin-top: -3px;
    padding-right: 15px;
    padding-left: 15px;
}
#app-mount .form-3gdLxP .channelTextArea-1FufC0 {
    margin-top: 0;
    margin-bottom: 24px;
}
#app-mount .form-3gdLxP::before {
    display: none;
}
#app-mount .form-3gdLxP .channelTextArea-1VQBuV {
    margin-bottom: calc(var(--bar-bottom-position) + 5px);
}
#app-mount .form-3gdLxP .base-3bcbY3 {
    bottom: -2px;
}
#app-mount .container-2o3qEW {
    height: calc(100% - var(--bar-height));
}
#app-mount .searchResultsWrap-5RVOkx {
    margin-bottom: var(--bar-height);
}
#app-mount .pageWrapper-2PwDoS,
#app-mount .container-2cd8Mz,
#app-mount .container-36u7Lw,
#app-mount .applicationStore-2nk7Lo {
    padding-bottom: var(--bar-height);
}
#app-mount .pageWrapper-2PwDoS::before,
#app-mount .container-2cd8Mz::before,
#app-mount .container-36u7Lw::before,
#app-mount .applicationStore-2nk7Lo::before {
    content: "";
    position: absolute;
    top: calc(100% - var(--bar-height));
    bottom: 0;
    width: 100%;
    background-color: var(--bar-background-primary);
}
#app-mount .autocomplete-3NRXG8 {
    bottom: 166%;
}
#app-mount .positionLayer-1cndvf.layer-2aCOJ3 {
    bottom: calc(var(--bar-height) + 8px) !important;
}
#app-mount .wrapper-2SplAX {
    margin-bottom: 16px;
}
#app-mount .unreadMentionsIndicatorBottom-3RJMnQ {
    bottom: var(--bar-height);
}