#app-mount {
    .form-2fGMdU {
        background: var(--bar-primary);
        padding: 20px 16px 0 16px;
        margin-bottom: 0;
        bottom: -4px;
    
        &::before {
            visibility: hidden;
        }
    }
}