#app-mount {
    // Follow Channel
    .form-2fGMdU .wrapper-39oAo3 {
        padding-top: 8px;

        .content-c_0cLD {
            padding-top: 29px;

            .text-2yjo70 {
                padding-bottom: 17px;
            }

            + .buttonContainer-3AU1Ij {
                padding-top: 8px;
            }
        }
    }

    // Home Tabs
    .container-1D34oG,
    .container-3Mxszk,
    .applicationStore-1pNvnv {
        height: calc(100% - 84px);
    }
}