#app-mount {
    .styleFixed-sX-yHV,
    .contentWrapper-SvZHNd {
        position: relative;
        top: -19px;
    }

    .animatorBottom-fS5rNO { 
        position: relative;
        top: 19px;
    }

    .autocomplete-1vrmpx { 
        bottom: calc(100% + 27px);
    }

    .channelTextAreaDisabled-8rmlrp {
        visibility: hidden;
    }
}