#app-mount {
    .styleFixed-sX-yHV,
    .contentWrapper-SvZHNd {
        position: relative;
        top: -16px;
    }

    .animatorBottom-fS5rNO { 
        position: relative;
        top: 16px;
    }

    .autocomplete-1vrmpx { 
        bottom: calc(100% + 24px);
    }

    .channelTextAreaDisabled-8rmlrp {
        visibility: hidden;
    }
}