#app-mount {
    .panels-j1Uci_ .container-3baos1 {
        position: relative;
        height: 80px;
        background: var(--bar-primary);
    
        .noWrap-3jynv6 {
            position: relative;
            left: 5px;
        }
    }
}