#app-mount {
    // guild list
    .guilds-1SWlCJ {
        padding-bottom: var(--bar-height);
        &::before { // i think this was here specifically for coloring
            content: "";
            position: absolute;
            top: var(--bar-height);
            bottom: 0;
            width: 100%;
            background-color: var(--bar-background-primary);
        }
    }

    // userarea & sidebar
    .container-3baos1 {
        position: absolute;
        bottom: var(--bar-bottom-position);
        max-width: 223px;
        background-color: transparent;
    }
    #status-picker {
        margin-bottom: calc(var(--bar-bottom-position) + 4px);
    }
    .sidebar-2K8pFh {
        height: calc(100% - var(--bar-height));
    }

    // chatbar
    .content-yTz4x3 {
        &::after {
            content: "";
            position: absolute;
            top: calc(100% - var(--bar-height));
            bottom: 0;
            width: 100%;
            background-color: var(--bar-background-primary);
        }
    }
    .form-2fGMdU { 
        z-index: 100;
        padding-top: calc(var(--bar-bottom-position) + 5px);
        border-radius: 5px 5px 0 0;
        background-color: var(--bar-background-primary);
        // revert discord support
        border-top: none;
        margin: 0;
        margin-top: -3px;
        padding-right: 15px;
        padding-left: 15px;
        // end ------>
        .channelTextArea-rNsIhG {
            margin-top: 0;
            margin-bottom: 24px;
        }
        &::before {
            display: none;
        }
        .channelTextArea-2VhZ6z { // chat bar
            margin-bottom: calc(var(--bar-bottom-position) + 5px);
        }
        .base-gE7OpD { // typing
            bottom: -2px;
        }
    }

    // memberlist & search
    .container-2wlB3z {
        height: calc(100% - var(--bar-height));
    }
    .searchResultsWrap-3-pOjs {
        margin-bottom: var(--bar-height);
    }

    // misc pages
    .pageWrapper-1PgVDX, // discovery
    .container-1D34oG, // friends
    .container-3Mxszk, // library
    .applicationStore-1pNvnv { // nitro & store pages
        padding-bottom: var(--bar-height);
        &::before {
            content: "";
            position: absolute;
            top: calc(100% - var(--bar-height));
            bottom: 0;
            width: 100%;
            background-color: var(--bar-background-primary);
        }
    }

    // fixes
    .autocomplete-1vrmpx { // automcplete
        bottom: 166%;
    }
    .positionLayer-1KzSAt.layer-v9HyYc {
        bottom: calc(var(--bar-height) + 8px) !important;
    }
    .wrapper-39oAo3 {
        margin-bottom: 16px;
    }
    .unreadMentionsIndicatorBottom-2mDYbI { // server mentions
        bottom: var(--bar-height);
    }
}