#app-mount {
    // guild list
    .guilds-2JjMmN {
        padding-bottom: var(--bar-height);
        &::before { // i think this was here specifically for coloring
            content: "";
            position: absolute;
            top: var(--bar-height);
            bottom: 0;
            width: 100%;
            background-color: var(--bar-background-primary);
        }
    }

    // userarea & sidebar
    .container-YkUktl {
        position: absolute;
        bottom: var(--bar-bottom-position);
        max-width: 223px;
        background-color: transparent;
    }
    #status-picker {
        margin-bottom: calc(var(--bar-bottom-position) + 4px);
    }
    .sidebar-1tnWFu {
        height: calc(100% - var(--bar-height));
    }

    // chatbar
    .content-1jQy2l {
        &::after {
            content: "";
            position: absolute;
            top: calc(100% - var(--bar-height));
            bottom: 0;
            width: 100%;
            background-color: var(--bar-background-primary);
        }
    }
    .form-3gdLxP { 
        z-index: 100;
        padding-top: calc(var(--bar-bottom-position) + 5px);
        border-radius: 5px 5px 0 0;
        background-color: var(--bar-background-primary);
        // revert discord support
        border-top: none;
        margin: 0;
        margin-top: -3px;
        padding-right: 15px;
        padding-left: 15px;
        // end ------>
        .channelTextArea-1FufC0 {
            margin-top: 0;
            margin-bottom: 24px;
        }
        &::before {
            display: none;
        }
        .channelTextArea-1VQBuV { // chat bar
            margin-bottom: calc(var(--bar-bottom-position) + 5px);
        }
        .base-3bcbY3 { // typing
            bottom: -2px;
        }
    }

    // memberlist & search
    .container-2o3qEW {
        height: calc(100% - var(--bar-height));
    }
    .searchResultsWrap-5RVOkx {
        margin-bottom: var(--bar-height);
    }

    // misc pages
    .pageWrapper-2PwDoS, // discovery
    .container-2cd8Mz, // friends
    .container-36u7Lw, // library
    .applicationStore-2nk7Lo { // nitro & store pages
        padding-bottom: var(--bar-height);
        &::before {
            content: "";
            position: absolute;
            top: calc(100% - var(--bar-height));
            bottom: 0;
            width: 100%;
            background-color: var(--bar-background-primary);
        }
    }

    // fixes
    .autocomplete-3NRXG8 { // automcplete
        bottom: 166%;
    }
    .positionLayer-1cndvf.layer-2aCOJ3 {
        bottom: calc(var(--bar-height) + 8px) !important;
    }
    .wrapper-2SplAX {
        margin-bottom: 16px;
    }
    .unreadMentionsIndicatorBottom-3RJMnQ { // server mentions
        bottom: var(--bar-height);
    }
}