$primary-bar-color: var(--background-tertiary); /* Changes bar color. */
$secondary-bar-color: var(--background-secondary-alt); /* Secondary bar color. */

/* Username */
.panels-j1Uci_ .container-3baos1 {
    position: relative;
    height: 85px;
    background: $primary-bar-color;

    .noWrap-3jynv6 {
        position: relative;
        left: 5px;
    }
}


/* Chatbar */
.form-2fGMdU {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 20px;
    margin-top: -10px;
    bottom: -2px;
    background: $primary-bar-color;

    &::before {
        display: none;
    }
}


/* Follow Channel */
.form-2fGMdU .wrapper-39oAo3 {
    padding-top: 8px;

    .content-c_0cLD {
        padding-top: 25px;

        .text-2yjo70 {
            padding-bottom: 15px;
        }

        + .buttonContainer-3AU1Ij {
            padding-top: 8px;
        }
    }
}


/* Serverlist */
.wrapper-1Rf91z {
    width: 90px;
    height: calc(100% - 86px);

    &::after {
        position: fixed;
        content: "";
        width: 100%;
        height: 86px;
        bottom: 0;
        background: $primary-bar-color;
    }
}


/* Member List */
.members-1998pB {
    height: calc(100% - 86px);
}
.membersWrap-2h-GB4 {
    background: $primary-bar-color;
}


/* Discovery Page */
.pageWrapper-1PgVDX {
    height: calc(100% - 86px);

    &:after {
        background: $primary-bar-color;
    }
}


/* Tabs in Home */
.container-1D34oG,
.container-3Mxszk,
.applicationStore-1pNvnv {
    height: calc(100% - 86px);
}


/* Search Scroller */
.searchResultsWrap-3-pOjs {
    height: calc(100% - 86px);

    &::after {
        position: fixed;
        content: " ";
        width: 100%;
        height: 86px;
        bottom: 0;
        background: $primary-bar-color;
    }
}


/* Join/Create a sever */
.tutorialContainer-SGrQ1h,
[aria-label="Servers"] + .listItem-2P_4kh {
    position: fixed;
    z-index: 1;
    border-radius: 0 50px 50px 0;
    padding-top: 8px;
    padding-bottom: 0;
    bottom: 10px;
    background: $secondary-bar-color;
    transition: all 150ms cubic-bezier(0.55, 0.09, 0.68, 0.53);

    &:hover {
        padding-left: 3px;
        transition: all 150ms cubic-bezier(0.55, 0.09, 0.68, 0.53);
    }

    .listItemWrapper-3X98Pc .wrapper-25eVIn svg foreignObject .circleIconButton-jET_ig {
        border-radius: 25px;
    }

    .listItem-2P_4kh > .pill-3YxEhL {
        display: none;
    }
}
[aria-label="Servers"] + .listItem-2P_4kh {
    padding-bottom: 8px;
    bottom: 2px;
}


/* Positioning Fixes/Other Changes */
.styleFixed-sX-yHV { /*Status Picker */
    position: relative;
    top: -20px;
}

.animatorBottom-fS5rNO { /* Server menu popout */
    position: relative;
    top: 20px;
}

.contentWrapper-SvZHNd { /* Emote/GIF Picker */
    position: relative;
    top: -20px;
}

.autocomplete-1vrmpx { /* Autocomplete */
   bottom: calc(100% + 30px);
}

.channelTextAreaDisabled-8rmlrp { /* Hide Disabled Text Chatbar */
   visibility: hidden;
}
